
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
    font-family: Quicksand ;
}

.blue {
    color: #82caed;
}

.red {
    color: #ed8294;
}

.orange {
    color: #edda8b;
}

.yellow {
    color: #edda82;
}

.bg-blue {
    background-color: #82caed;
}

.bg-red {
    background-color: #ed8294;
}

.bg-orange {
    background-color: #edda8b;
}

.bg-yellow {
    background-color: #edda82;
}

.black {
    color: #000505;
}

.white {
    color: #FEFCFD;
}

.bg-black {
    background-color: #000505;
}

.bg-white {
    background-color: #FEFCFD;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start-container {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

a:hover {
    color: #82caed;
}

.main {
    min-width: 600px;
}

.akina-logo {
    width: 5rem;
}

.btn-container {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;
}

.tech-stack:hover{
    background-color: lightblue;
}